# Dependencies
node_modules/

# Build output
.vitepress/dist/
.vitepress/cache/

# Local env files
*.local

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
