/* for monaco */
#monaco-editor-root {
    height: calc(100vh - 7.5rem - 70px);
    border: solid 1px lightgray;
}

#logo-text {
    font-weight: bold;
    color: white;
    padding-left: 15px;
    padding-right: 30px;
}