<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.domainlang.io/dsl/DomainLang"
			class = "org.domainlang.dsl.domainLang.DomainLangPackage"
			genModel = "model/generated/DomainLang.genmodel" />
	</extension>
</plugin>
